@font-face {
	font-family: "abc";
	src:url('mushin.ttf')  format('truetype'),
}
body {
   font-family: 'Square Peg', cursive;
font-family: 'Zen Maru Gothic', sans-serif;
   	font-family: "abc", cursive;
}

nav {
  width: 100%;
  height: 70px;
  background-color: Black;
  padding-top: 5px;
  box-sizing: border-box;
   font-family: 'Square Peg', cursive;
   background-image: url("006.png")
}
ul {
  display: flex;
	padding-left:0
}
li {
  list-style: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
}
.a{
   display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}
a {
      text-decoration:none;
}
#langChenge input[type="radio"]{
  display    : none;
}
 
#langChenge label{
  display    : inline-block;
  border     : 1px solid #ccc;
  box-shadow : 2px 2px #999;
  padding    : 2px 6px;
}
 
#langJa:not(:checked) ~ * *:lang(ja) {
  display    : none;
}
#langEn:not(:checked) ~ * *:lang(en) {
  display    : none;
}
#langZh:not(:checked) ~ * *:lang(zh) {
  display    : none;
}
 
#langJa:checked ~ label[for="langJa"] {
  background : #ffa64d;
}
#langEn:checked ~ label[for="langEn"] {
  background : #ffa64d;
}
#langZh:checked ~ label[for="langZh"] {
  background : #ffa64d;
}
